main{
    display:flex;
    flex-direction: column;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;

}

header section:last-child button, input{
padding: 5px;
margin-top: 10px;
}

.control{
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.control button{

padding: 10px 40px;

}

.corps{
    display: flex;

}
#imageHead{
    width: 200px;
}
.contenu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.music{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;

}

.music img{
    width: 150px;
    
    background-color: white;
    padding: 15px;

}

.menu nav{
    display: flex;
    align-items: flex-start;

}

.menu ul{
display: flex;
flex-direction: column;
padding-left: 0;

}

.menu{
    width: 250px;
    display: flex;
    padding: 0;

}

.menu li{
    list-style-type: none;
padding:10px;
border: 1px solid #0c9aec;

}

.menu a{
    text-decoration: none;
    color: #0c9aec;

}

.front img{
 padding: 10px;
}

.row{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 20px;
}
#inputBox{
padding-right: 35px;
    flex:1;
    height: 50px;
    background: rgb(0, 0, 0,0.1);
    border: 0;
    outline: 0;
    font-size: 18px;
    color: blue;
}

.buttonSearch{
    position:absolute;
    background-color: transparent;
    border: 0;
    outline: 0;

}
button .fa-solid{
width: 25px;
color: #3e5b60;
cursor: pointer;
font-size: 22px;
}

.resultBox{
    border-top: 1px solid #999;
    margin-left: 20px;
padding-left: 5px;
}
.resultBox a:hover{
    background-color: rgb(62, 91, 96,0.3) ;
}
@media screen and (width<1000px) {
    header{
        display: flex;
        flex-direction: column;

    }

.control{
    justify-content: flex-start;
}
}


@media screen and (width<600px) {}